button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:disabled {
    background-color: var(--gray-05);
    cursor: not-allowed;
}

.button-primary {
    background-color: var(--main-color);
    color: white;
}

.button-primary:hover {
    background-color: var(--main-color-dark);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.button-secondary:hover {
    background-color: var(--secondary-color-dark);
}

.button-success {
    background-color: var(--green-color);
    color: white;
}

.button-success:hover {
    background-color: var(--green-color-dark);
}

.button-danger {
    background-color: var(--red-color);
    color: white;
}

.button-danger:hover {
    background-color: var(--red-color-dark);
}

.button-info {
    background-color: var(--gray-05);
    color: white;
}

.button-info:hover {
    background-color: var(--gray-06);
}