@import 'variables.css';
@import './components/input.css';
@import './components/button.css';
@import './components/label.css';
@import './components/form.css';
@import './components/link.css';

/*Main colors light*/
:root {
  --background-color-default: white;
  --background-color-light: var(--gray-01);
  --background-color-medium: var(--gray-02);
  --background-color-dark: var(--gray-03);

  --text-color-default: black;
  --text-color-light: var(--gray-04);
  --text-color-medium: var(--gray-05);
  --text-color-dark: var(--gray-06);
}

/*Main colors dark*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-default: black;
    --background-color-light: var(--gray-06);
    --background-color-medium: var(--gray-05);
    --background-color-dark: var(--gray-04);

    --text-color-default: white;
    --text-color-light: var(--gray-03);
    --text-color-medium: var(--gray-02);
    --text-color-dark: var(--gray-01);
  }
}

/*Font*/
:root{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Other values*/

* {
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  
}

#app{
  height: 100%;
  width: 100%;
}

.page-content {
  width: 100%;
}