@import 'variables.css';
@import './components/input.css';
@import './components/button.css';
@import './components/form.css';
@import './components/link.css';
@import './components/pages.css';

/*Main colors light*/
:root {
  --background-color-default: white;
  --background-color-light: var(--gray-01);
  --background-color-medium: var(--gray-02);
  --background-color-dark: var(--gray-03);
  
  --text-color: black;
  --text-color-inverted: white;
}

/*Main colors dark*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-default: black;
    --background-color-light: var(--gray-06);
    --background-color-medium: var(--gray-05);
    --background-color-dark: var(--gray-04);

    --text-color: white;
    --text-color-inverted: black;
  }
}

/*Font*/
:root{
  font-size: 16px;
}

/*Other values*/

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height: 100vh;
  
}

#app{
  height: 100%;
  width: 100%;
}