/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-color: #1E3DAD;
  --main-color-light: #3C5EE6;
  --main-color-dark: #122974;
  --secondary-color: #DA5825;
  --secondary-color-light: #FF774D;
  --secondary-color-dark: #A4360E;

  --green-color: #4AC728;
  --red-color: #C72835;
  --yellow-color: #DCAE08;

  --gray-01: #F7F7F7;
  --gray-02: #E1E1E1;
  --gray-03: #CFCFCF;
  --gray-04: #b7b7b7;
  --gray-05: #818181;
  --gray-06: #383838;

  --background-color-default: white;
  --background-color-light: var(--gray-01);
  --background-color-medium: var(--gray-02);
  --background-color-dark: var(--gray-03);

  --text-color-default: black;
  --text-color-light: var(--gray-04);
  --text-color-medium: var(--gray-05);
  --text-color-dark: var(--gray-06);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-default: black;
    --background-color-light: var(--gray-06);
    --background-color-medium: var(--gray-05);
    --background-color-dark: var(--gray-04);

    --text-color-default: white;
    --text-color-light: var(--gray-03);
    --text-color-medium: var(--gray-02);
    --text-color-dark: var(--gray-01);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color-default);
  background: var(--background-color-default);
}