:root {
    --main-color: #1E3DAD;
    --main-color-light: #3C5EE6;
    --main-color-dark: #122974;
    --secondary-color: #DA5825;
    --secondary-color-light: #FF774D;
    --secondary-color-dark: #A4360E;

    --green-color: #4AC728;
    --red-color: #C72835;
    --yellow-color: #DCAE08;

    --gray-01: #F7F7F7;
    --gray-02: #E1E1E1;
    --gray-03: #CFCFCF;
    --gray-04: #b7b7b7;
    --gray-05: #818181;
    --gray-06: #383838;
}